body {
  font-family: 'Open Sans', sans-serif;
}

div {
  border: 0px solid #00f;
}

img {
  border: 0px dotted #008000;
}

.nav-pills {
  margin: 1em auto;
}

.nav-pills .nav-link {
  padding: 1em 2em;
  margin: 0 0.2em;
  border-radius: 0;
  border: 2px solid #dc0000;
  background: #dc0000;
  color: #fff;
}

.nav-pills .nav-link:hover {
  background: #fff;
  color: #dc0000;
  border: 2px solid #dc0000;
}

.header {
  height: 30em;
  background-image: url("../img/header_ascensor.jpg");
  background-repeat: no;
  background-position: center;
  background-size: 115% 100%;
}

.logobox {
  height: 7em;
  background-color: #fff;
  z-index: 999;
}

.logobox img {
  margin-top: 0.3em;
  height: 5em;
}

.claim {
  height: 12em;
  background: #dc0000;
}

.claim .texto_claim {
  padding-top: 2em;
  padding-left: 3.8em;
  color: #fff;
}

.claim .texto_claim h2 {
  font-weight: bold;
  font-size: 37px;
}

.claim .foto_claim img {
  width: 210px;
  margin-top: -15px;
}

.registro-header {
  margin-top: 3em;
}

.formulario {
  padding: 1em 2em 2em 2em;
}

.formulario div {
  font-size: 18px;
  line-height: 1.37em;
}

.formulario h4 {
  color: #dc0000;
  font-weight: bold;
}

.formulario .texto_bases {
  margin-top: 3em;
}

.formulario .texto_bases label {
  font-size: 12px;
}

.formulario .texto_bases_dos {
  margin-top: 0.5em;
}

.formulario .texto_bases_dos label {
  font-size: 12px;
}

.boton_rojo {
  margin-top: 0.3em;
  padding: 0.1em 5em;
  font-size: 22px;
  border-radius: 0;
  border: 2px solid #dc0000;
  background: #dc0000;
  color: #fff;
}

.boton_rojo:hover {
  background: #fff;
  color: #dc0000;
  border: 2px solid #dc0000;
}

.concurso {
  margin-top: 2em;
  padding: 0;
}

.concurso div {
  font-size: 18px;
  line-height: 1.37em;
}

.concurso h4 {
  color: #dc0000;
  font-weight: bold;
}

.concurso p {
  line-height: 1em;
}

#alert-warning,
#alert-ganador {
  padding: 1em 0;
  font-size: 20px;
}

.boton_rojo_mini {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.1em 1em;
  font-size: 12px;
  border-radius: 0;
  border: 2px solid #dc0000;
  background: #fff;
  color: #dc0000;
}

.boton_rojo_mini:hover {
  background: #dc0000;
  color: #fff;
  border: 2px solid #dc0000;
}

.boton_rojo_2 {
  display: none;
  left: 0;
  right: auto;
}

.footer {
  padding-bottom: 2em;
}

.footer .copyright {
  font-size: 12px;
}

.centered-x position absolute {
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom position fixed {
  bottom: 0;
}

#form-alert-success,
#form-alert-error,
#form-alert-info {
  display: none;
}

.input-error {
  border: 3px solid #dc0000;
}

@media (max-width: 850px) {
  .header {
    height: 25em;
  }

  .claim .texto_claim {
    padding-top: 2em;
    padding-left: 0em;
  }

  .claim .texto_claim h2 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 20em;
  }

  .logobox {
    height: 5em;
  }

  .logobox img {
    margin-top: 0.2em;
    height: 3em;
  }

  .claim {
    height: 9em;
  }

  .claim .texto_claim {
    padding-top: 1em;
    padding-left: 0em;
  }

  .claim .texto_claim h2 {
    font-size: 25px;
  }

  .claim .foto_claim img {
    width: 160px;
    margin-top: -15px;
  }

  .nav-pills .nav-link {
    width: 48%;
    margin-bottom: 0.3em;
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 15em;
  }

  .logobox {
    height: 4em;
  }

  .logobox img {
    margin-top: 0.2em;
    height: 3em;
  }

  .nav-pills .nav-link {
    width: 100%;
    margin-bottom: 0.3em;
    font-size: 22px;
  }
}