$rojo = #dc0000
$font-family = 'Open Sans',sans-serif

body
  background transparent
div
	border 0px solid blue

.header
	height 30em
.logobox
	height 7em
	backgroung white
.claim
	height 12em
	background $rojo
	.texto_claim
		padding-top 2em
		padding-left 3.8em
		color white
		h2
			font-weight bold
			font-size 37px
.formulario
	padding 1em 2em 2em 4em
	div
		font-size 18px
		line-height 1.37em
	h4
		color $rojo
		font-weight bold
	.texto_bases
		margin-top 3em
		label
			font-size 12px
		button
			margin-top 0.3em
			padding 0.1em 5em
			font-size 22px
			border-radius 0
			background $rojo
			color white
.footer
	padding-bottom 2em
	.copyright
		font-size 12px